<div *ngIf="isLoading">Loading...</div>
<div *ngIf="!isLoading">
  <app-data-table
    [data]="filteredComments"
    [itemsPerPage]="itemsPerPage"
    (onSort)="handleSort($event)"
    (onDelete)="handleDelete($event)"
    (onEdit)="handleEdit($event)"
    (onSearch)="handleSearch($event)"
  ></app-data-table>
  <app-pagination
    [totalItems]="totalItems"
    [itemsPerPage]="itemsPerPage"
    [currentPage]="currentPage"
    (pageChange)="handlePageChange($event)"
    (itemsPerPageChange)="handleItemsPerPageChange($event)"
  ></app-pagination>
</div>
